{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Mollitia saepe ipsum labore velit nisi perferendis qui sequi ratione tempora explicabo praesentium asperiores, nam reprehenderit,
        nihil illo delectus? At, veritatis corporis?

    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quidem harum at fugiat delectus accusantium veritatis minima quia id, 
        odio asperiores aut debitis repellendus a sequi veniam. Suscipit ipsam 
        quisquam provident dolorum, ab corporis similique quibusdam corrupti earum? 
        Voluptates quidem sapiente nemo numquam ipsam reprehenderit animi nam fuga 
        voluptatibus.
    </p>

{% endblock  %}
